.app-header {
  background-color: var(--clr1);
  color: var(--clr2bg-light);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 👈 Push nav left, h1 right */
}

.app-nav {
  display: flex;
  gap: 15px;
  color: var(--clr2);
}

.header-container h1 {
  margin-left: auto; /* 👈 Ensures it sticks to the right */
  color: var(--clr2);
}

a.active {
  color: rgb(211, 222, 18);
  font-weight: 600;
  text-decoration: underline;
}

@media (max-width: 720px) {
  .app-header {
    color: var(--clr2bg-light);
  }
}
